* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

/* Sidebar */
.sidebar {
    position: fixed;
    right: -250px;
    width: 250px;
    height: 100%;
    background: #052513;
    transition: 0.5s;
}

.sidebar header {
    font-size: 22px;
    color: white;
    text-align: center;
    background: #368a5b;
}

.sidebar ul a {
    display: block;
    color: white;
    padding: 15px;
    border-bottom: 1px solid black;
}

#check {
    display: none;
}

label #btn {
    position: absolute;
    right: 40px;
    top: 25px;
    font-size: 35px;
    color: white;
    background: rgb(5, 57, 3);
    padding: 6px 12px;
    cursor: pointer;
}

label #cancel {
    position: absolute;
    right: -250px;
    top: 17px;
    font-size: 30px;
    color: white;
    background: rgb(5, 57, 3);
    padding: 6px 12px;
    cursor: pointer;
}

#check:checked ~ .sidebar {
    right: 0;
}

#check:checked ~ label #btn {
    display: none;
}

#check:checked ~ label #cancel {
    right: 40px;
}

nav, footer {
    background: rgb(5, 57, 3);
    color: white;
    padding: 15px;
    text-align: center;
}
